<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member Login</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'library_website/styleMemberLoginUpdated.css' %}" /> <!--{% static 'library_website/styleMemberLogin.css' %}"  />-->
  </head>

  <body>
      <div class="Login_Heading" id="Login_Heading">
        <p>Login</p>
      </div>

      <div class="Username" id="UserName_Box">
        <input
          id="UserName_BoxContainer"
          type="text"
          placeholder="Username"
          name="search"
        />
      </div>

      <div class="Password_Box" id="Password_Box">
        <input
          id="Password_BoxContainer"
          type="text"
          placeholder="Password"
          name="search"
        />
      </div>
      <div id="login">
        <input id="logInButton" type="submit" value="Login" />
      </div>
  
      <p>
        <a href="signUp">Not a member yet? Click here to sign up.</a>
        <p><a href="/">Click here to return to home page</a>.</p>
      </p>
  </body>
</html>
