<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'library_website/styleSignUpUpdated.css' %}"  />
    <!--what's changed: href="{% static 'library_website/styleSignUp.css' %}-->
  </head>

  <body>
    <div class="SignUp_Heading" id="SignUp_Heading">
      <p>Sign Up</p>
    </div>

    <div class="UserName_Box" id="UserName_Box">
      <input
        id="UserName_BoxContainer"
        type="text"
        placeholder="Username"
        name="search"
      />
    </div>

    <div class="Password_Box" id="Password_Box">
      <input
        id="Password_BoxContainer"
        type="text"
        placeholder="Password"
        name="search"
      />
    </div>

    <div class="Confirm_Password_Box" id="Password_Box">
      <input
        id="Password_BoxContainer"
        type="text"
        placeholder="Confirm password"
        name="search"
      />
    </div>

    <div id="createAccount">
      <input id="signUpButton" type="submit" value="Sign Up" />
    </div>
    <center>
      <p><a href="memberLogIn">Have an account? Click here to login</a>.</p>
      <p><a href="/">Click here to return to home page</a>.</p>
    </center>
  </body>
</html>
