* {
  box-sizing: border-box;
  font-family: calibri;
  color: white;
}
body {
  background-image: url("./images/background_darkened.png");
  height: auto;
  background-repeat: repeat-y;
  background-size: cover;
  padding: 0px;
}

.left {
  float: left;
  width: 80%;
  padding: 5px;
}

.right {
  float: right;
  width: 20%;
  padding: 5px;
}

.rowbreak {
  height: 5px;
}

.toprow {
  background-color: rgba(0, 0, 0, 0.3);
  height: 80px;
  width: 100%;
}

.bottomrow {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: contain;
  width: 100%;
  padding: 10px;
  font-size: large;
}

#detailsTable {
  width: 100%;
  height: 80%;
}

.tableHeader {
  width: 20%;
}

#bookTitle {
  font-size: larger;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 40px;
}
.buttons {
  height: 50px;
  width: 100%;
  border: none;
  background-color: rgb(138, 112, 64);
}

#myAccountButton {
  height: 100%;
  width: 100%;
  font-size: larger;
}

#reserveButton,
#borrowButton {
  height: 40px;
  width: 90px;
  font-size: large;
}


